<!DOCTYPE html>
<html>
  <head>
    <% if @title %>
      <title><%= @title %> | Resist Games</title>
    <%else%>
      <title>Resist Games</title>
    <%end%>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag(source=image_url('brand/logo_square.png')) %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if @page_specific_javascript %>
      <% @page_specific_javascript.each do |script| %>
        <%= javascript_include_tag script, 'data-turbolinks-track': 'reload' %>
      <% end %>
    <% end %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:url" content="<%= @og_url %>" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%= @og_title %>" />
    <meta property="og:description" content="<%= @og_description %>" />
    <meta property="og:image" content="<%= @og_image %>" />
    <meta property="fb:app_id" content="1686490478045370" />
  </head>
  <%= render "layouts/post_head" %>
  <body>
    <div class="container">
      <nav class="navbar navbar-toggleable-md navbar-light bg-faded rg-nav-bar">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img src="<%= image_url 'brand/logo_square.png' %>" height="50px" class="d-inline-block" alt="">
          <span>Resist Games</span>
        </a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/join">Join</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Games
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/whack-a-trump">Whack-A-Trump</a>
                <a class="dropdown-item" href="/games/choose-your-own-adventure/anonymous-trump">Anonymous Trump</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <% if @no_container %>
      <%= yield %>
    <% else %>
      <div class="container">
        <%= yield %>
      </div>
    <% end %>
    <%= render "layouts/pre_body_close" %>
  </body>
</html>
