<!DOCTYPE html>
<html>
  <head>
    <% if @title %>
      <title><%= @title %> | Resist Games</title>
    <%else%>
      <title>Resist Games</title>
    <%end%>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:url" content="<%= @og_url %>" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%= @og_title %>" />
    <meta property="og:description" content="<%= @og_description %>" />
    <meta property="og:image" content="<%= @og_image %>" />
    <meta property="fb:app_id" content="1686490478045370" />
  </head>
  <%= render "layouts/post_head" %>
  <body>
    <nav class="navbar navbar-light bg-faded">
      <div class="container">
        <a class="navbar-brand" href="#">
          Resist Games
        </a>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
    <%= render "layouts/pre_body_close" %>
  </body>
</html>
